
.main {
    height: 300px;
    width: 600px;
    margin: 50px auto 0 auto;
    position: relative
}

.button {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 40px;
    padding: 10px;
    background-color: #CCC;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.button:active {
    background-color: #777;
    color: #ccc;
}
